@model Models.FrameWork.PROPERTy

@{
    ViewBag.Title = "Edit";
}
@section header{
   Edit
    }

@using (Html.BeginForm("Edit","Property", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
           <lable> @Html.LabelFor(model => model.PropertyName, htmlAttributes: new { @class = "control-label col-md-2" }) </lable>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PropertyName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PropertyName, "", new { @class = "text-danger" })
            </div>
</div>
        <div class="form-group">
            <label class="control-label col-md-2">Upload File Details</label>
            @*@Html.LabelFor(model => model.Images, htmlAttributes: new { @})*@
            <div class="col-md-10">
                <input multiple type="file" name="files" value="Browse" />
            </div>
        </div>

        <div class="form-group">
            <lable> @Html.LabelFor(model => model.Avatar, htmlAttributes: new { @class = "control-label col-md-2" }) </lable>
            <div class="col-md-10">
               <input type="file" name="ImageFile2" />
                @*Html.EditorFor(model => model.Avatar, new { htmlAttributes = new { @class = "form-control" } })
                Html.ValidationMessageFor(model => model.Avatar, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <lable> @Html.LabelFor(model => model.Images, htmlAttributes: new { @class = "control-label col-md-2" }) </lable>
            <div class="col-md-10">
               @*<img src="/~Images/@Model.Images"/>*@
               <input type="file" name="ImageFile"  />
                @*@Html.EditorFor(model => model.Images, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Images, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2">PropertyType</label>
            @*<lable> @Html.LabelFor(model => model.PropertyType_ID, "PropertyType_ID", htmlAttributes: new { @class = "control-label col-md-2" }) </lable>*@
            <div class="col-md-10">
                @Html.DropDownList("PropertyType_ID", new SelectList(ViewBag.property_type, "ID","CodeType"), htmlAttributes: new { @class = "form-control" })
                @*@Html.ValidationMessageFor(model => model.PropertyType_ID, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <lable> @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" }) </lable>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <lable> @Html.LabelFor(model => model.Street_ID, "Street_ID", htmlAttributes: new { @class = "control-label col-md-2" }) </lable>
            <div class="col-md-10">
                @*@Html.DropDownList("Street", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.DropDownList("Street_ID", new SelectList(ViewBag.street, "ID", "StreetName"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Street_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            <lable> @Html.LabelFor(model => model.Ward_ID, "Ward_ID", htmlAttributes: new { @class = "control-label col-md-2" }) </lable>
            <div class="col-md-10">
               Html.DropDownList("Ward", null, htmlAttributes: new { @class = "form-control" })
               Html.DropDownList("Ward_ID", new SelectList(ViewBag.ward, "ID", "WardName"), htmlAttributes: new { @class = "form-control" })
                Html.ValidationMessageFor(model => model.Ward_ID, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <lable> @Html.LabelFor(model => model.District_ID, "District_ID", htmlAttributes: new { @class = "control-label col-md-2" }) </lable>
            <div class="col-md-10">
                @*@Html.DropDownList("District", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.DropDownList("District_ID", new SelectList(ViewBag.district, "ID", "DistrictName"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.District_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <lable> @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" }) </lable>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <lable> @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label col-md-2" }) </lable>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <lable> @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label col-md-2" }) </lable>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <lable> @Html.LabelFor(model => model.BedRoom, htmlAttributes: new { @class = "control-label col-md-2" }) </lable>
            <div class="col-md-10">
                @Html.EditorFor(model => model.BedRoom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BedRoom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <lable> @Html.LabelFor(model => model.BathRoom, htmlAttributes: new { @class = "control-label col-md-2" }) </lable>
            <div class="col-md-10">
                @Html.EditorFor(model => model.BathRoom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BathRoom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <lable> @Html.LabelFor(model => model.PackingPlace, htmlAttributes: new { @class = "control-label col-md-2" }) </lable>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PackingPlace, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PackingPlace, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <lable> @Html.LabelFor(model => model.UserID, "UserID", htmlAttributes: new { @class = "control-label col-md-2" }) </lable>
            <div class="col-md-10">
                @*@Html.DropDownList("UserID", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.DropDownList("UserID", new SelectList(ViewBag.user, "ID", "FullName"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <lable> @Html.LabelFor(model => model.Created_at, htmlAttributes: new { @class = "control-label col-md-2" }) </lable>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created_at, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Created_at, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <lable> @Html.LabelFor(model => model.Create_post, htmlAttributes: new { @class = "control-label col-md-2" }) </lable>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Create_post, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Create_post, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <lable> @Html.LabelFor(model => model.Status_ID, "Status_ID", htmlAttributes: new { @class = "control-label col-md-2" }) </lable>
            <div class="col-md-10">
                @*@Html.DropDownList("Status", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.DropDownList("Status_ID", new SelectList(ViewBag.status, "ID", "Status_Name"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <lable> @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" }) </lable>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            <lable> @Html.LabelFor(model => model.Updated_at, htmlAttributes: new { @class = "control-label col-md-2" }) </lable>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Updated_at, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Updated_at, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
           <lable> @Html.LabelFor(model => model.Sale_ID, "Sale", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Sale", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Sale_ID, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
